:root {
  --icedcap: #f2d9c3;
  --mocha: #A57865;
  --chocolate: #683924;
  --espresso: #260f06;
}
/* -----ANIMATION-------- */
@keyframes fadeText {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* -----FONTS------ */
@font-face {
  font-family: "Melt Swashes";
  src: url("/fonts/melt_swashes/Melt-Swashes.ttf") format("truetype");
}
@font-face {
  font-family: "Teacher Jordan";
  src: url("/fonts/kg_teacher_jordan/KGTeachJordan.ttf") format("true-type");
}
/* } for id: 3 */
@font-face {
  font-family: "Vouge";
  src: url("/fonts/Vouge.ttf") format("true-type");
}
body {
  margin: 0;
  padding: 0;
}

/* ----- NAVIGATION ------ */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--icedcap);
  margin: 0;
  padding: 0;
}
nav #logo {
  font-size: 40px;
  font-family: "Melt Swashes";
  color: var(--espresso)
}
nav #navTop {
  display: flex;
  flex-direction: row;
  gap: 20vw;
  align-items: center;
}
#searchLogin {
  display: flex;
  flex-direction: row;
}
#searchLogin input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--espresso);
  min-width: 170px;
}
#navTop #searchLogin img {

  width: 22px;
  filter: invert(7%) sepia(75%) saturate(669%) hue-rotate(335deg) brightness(95%) contrast(101%);
  margin-left: 20px;
  cursor: pointer;
}
#icons {
  margin-top: 8px;
}
nav #links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  background-color: var(--espresso);
  width: 100%;
  padding: 10px;
  font-family: "Vouge";
}
#links a {
  text-decoration: none;
  color: var(--icedcap);
}

/* ------ FOOTER ------ */

footer {
  background-color: var(--espresso);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}
#footerLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px; 
  justify-content: center;
}
#footerLinks .footerSection {
  min-width: 200px;
}
#footerLinks h3 {
  color: var(--icedcap);
  border-bottom: 1px solid var(--icedcap);
  min-width: 200px;
}
#footerLinks a {
  text-decoration: none;
  color: var(--mocha);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}
#footerLinks img {
  height: 40px;
  width: 40px;
  filter: invert(56%) sepia(5%) saturate(2632%) hue-rotate(332deg) brightness(89%) contrast(82%);
  margin: 7px;
}
footer p {
  color: var(--icedcap);
  font-family: "Melt Swashes";
  font-weight: 200;
}
#socialLinks { display: flex;
  flex-direction: row;
}
