:root {
  --icedcap: #f2d9c3;
  --mocha: #A57865;
  --chocolate: #683924;
  --espresso: #260f06;
}

@font-face {
  font-family: "Melt Swashes";
  src: url("/fonts/melt_swashes/Melt-Swashes.ttf") format("truetype");
}
@font-face {
  font-family: "Teacher Jordan";
  src: url("/fonts/kg_teacher_jordan/KGTeachJordan.ttf") format("true-type");
}
/* } for id: 3 */
body {
  margin: 0;
  padding: 0;
}

/* ----- NAVIGATION ------ */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--icedcap);
}
nav #logo {
  font-size: 60px;
  font-family: "Melt Swashes";
  color: var(--espresso)
}
nav #links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: var(--espresso);
  width: 100%;
  padding: 10px;
}
#links a {
  text-decoration: none;
  color: var(--icedcap);
}

/* ------ FOOTER ------ */

footer {
  background-color: var(--espresso);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}
#footerLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px; 
  justify-content: center;
}
#footerLinks .footerSection {
  min-width: 200px;
}
#footerLinks h3 {
  color: var(--icedcap);
  border-bottom: 1px solid var(--icedcap);
  min-width: 200px;
}
#footerLinks a {
  text-decoration: none;
  color: var(--mocha);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}
#footerLinks img {
  height: 40px;
  width: 40px;
  filter: invert(56%) sepia(5%) saturate(2632%) hue-rotate(332deg) brightness(89%) contrast(82%);
  margin: 7px;
}
footer p {
  color: var(--icedcap);
  font-family: "Melt Swashes";
  font-weight: 200;
}
#socialLinks {
  display: flex;
  flex-direction: row;
}
